{% extends 'AVirtBundle::modalLayout.html.twig' %}

{% block title %}
    Crear evento o curso
{% endblock title %}

{% block center %}

    <form action="{{ path('course_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit">Crear</button>
        </p>
    </form>

{% endblock center %}
