{% extends 'AVirtBundle::modalLayout.html.twig' %}

{% block title %}
    Agregar video
{% endblock title %}

{% block center -%}

    <form action="{{ path('video_create', { 'course_id': course.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit">Agregar</button>
        </p>
    </form>

{% endblock center %}
