{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Video creation</h1>

    <form action="{{ path('video_create', { 'course_id': course.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('video', { 'course_id': course.id }) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
