body{
    background-color: #032f56;
}

h1{
    color: #FFFFFF;
}

h3 a{
    color: #FFFFFF;
}

.red-box{
 background-color: #BC1C48;
 color: #FFFFFF;
}

.orange-box{
    background-color: #CD4900;
    color: #FFFFFF;
}

.li-video .btn-mini{
    float: right;
}

.li-video{
    text-align: center;
    display: block;
}

.vitem:hover{
    background-color: #032f56;
}