body{
    background-color: #0072BC;
}

h1{
    color: #FFFFFF;
}

h3 a{
    color: #FFFFFF;
}

.red-box{
 background-color: #BC1C48;
 color: #FFFFFF;
}

.orange-box{
    background-color: #CD4900;
    color: #FFFFFF;
}